@import "tailwindcss";

@theme {
  /* 定义原版字体栈 */
  --font-sans: "Geist", "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-zinc-950: #09090b;
}

@layer base {
  html, body {
    @apply bg-zinc-950 text-white antialiased;
    /* 解决波纹可能导致的滚动条抖动 */
    overflow-x: hidden;
  }
}

/* 修正 H1 的艺术效果 */
h1 {
  @apply tracking-tighter leading-none;
  font-feature-settings: "cv11", "ss01";
}
