---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="soundead">
	<main style="padding: 50px; text-align: center;">
		<h1 style="color: black;">soundead.com is working</h1>
		<p style="color: gray;">If you see this, the layout and deployment are fine.</p>
	</main>
</RootLayout>
