---
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import Navigation from "../components/navigation";
import RootLayout from "../layouts/RootLayout.astro";
import WarpBackground from "../components/warp-background";
import AvailableForWork from "../components/available.astro";
---

<RootLayout title="soundead">
	<main>
		<h1>soundead</h1>
		<p>it works</p>
	</main>
</RootLayout>